.login{
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20vh;
}

.login .left{
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4,9,30,0.5)),url('/assets/login.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.login .left label{
    color: #fff;
    font-size: 50px;
    padding: 20px;
}

.login .left div{
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.login .left p{
    color: #fff;
    padding-left: 20%;
}

.login .right{
    width: 50%;
    order: 2;
    background-color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login .right{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.otherway{
    display: flex;
}

.username input{
    padding: 12px;
    border: none;
    background-color: #eee;
    margin: 5px;
    color: black;
    border-radius: 10px;
}

input{
    font-weight: 600;
    padding: 12px;
    border: none;
    background-color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    color: black;
    border-radius: 10px;
    width: 130%;
    box-shadow: 0 0 15px 0 rgba(35, 51, 49, 0.438);
}

.login .topic h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.google img{
    width: 20px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
}

.form .input{
  justify-content: center;
  display: block;
  margin-right: 17vh;
}

.google label{
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 2px;
}

.google{
    margin: 6px;
    background-color: #eee;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    display: flex;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}

hr{
    border: 1px solid #eee;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.login span{
    color: gray;
}

.login .line{
    display: flex;
    margin: 20px;
}

.login button{
    background-color: #0275d8;
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: none;
    padding-left: 41%;
    padding-right: 41%;
    margin-left: 5px;
    font-size: 15px;
}

p{
    margin-bottom: 13vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p span{
    font-weight: bold;
    color: black !important;
    cursor: pointer;
}

.forgot span{
    color:#0275d8;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.google:hover{
    background-color: white;
}

.login button:hover{
    background-color: blue;
}

@media (max-width: 768px) {
    .login .right{
        width: 100%;
    }

    .login .left{
        display: none;
    }

    input{
        padding: 10px;
        padding-right: 14%;
    }

    .username input{
        padding: 10px;
    }

    .google img{
        margin-left: 6px;
    }

    .google{
        padding: 3px;
        margin: 5px;
    }

    .google label{
        font-size: 12px;
        margin-top: 3px;
        padding-right: 10px;
    }

    .login .nav{
        height: 10vh;
    }

    button{
        margin-bottom: 100px;
    }

    hr{
        display: none;
    }

    span {
        font-size: 10px;
    }
}
