
.formContainer h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}
mat-toolbar {
    background: #004a9f;
    color: white;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;  
    padding: 16px;  
    overflow: auto;
  }


  
  mat-sidenav-container {
    height: calc(100vh - 65px);
    width: 100%;
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
    mat-icon {
      margin-right: 8px;
    }
  
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .snack-bar-success {
    background-color: #4CAF50;
    color: #fff;
  }

#Analytics {
  width: 100%;
  height: 86vh;
  background: #e0e0e0;
  justify-content: space-around;
  display: flex;
}
#Analytics .card {
  width: 320px;
  margin-bottom: 50px;
  height: 200px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-items: center;
}

#Analytics .card h1{
  font-weight: 600;
  color: red;
  font-size: 40px;
  margin-bottom: 45px;
}

#Analytics .card p{
  color: #b9b6b6;
  font-weight: 500;
  font-size: 15px;
}
@media (max-width: 768px) {
 .container {
    margin-top: 50px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  #Analytics .card {
  width: 80%;
  height: 55%;
 margin-bottom: 3px;
  }
  #Analytics .card p{
    color: #b9b6b6;
    font-weight: 500;
    font-size: 15px;
  }
 
  #Analytics .container .card h1 {
    font-size: 22px;
  }
  #Analytics {
    height: 250%;
  }
}




/*--------------Overall----------*/

#overall{
  width: 100%;
  height: 82vh;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  display: flex;
}

#tableref table input {
padding: 6px;
 color: black; 
 width: 80%; 
 border: 1px solid rgb(146, 139, 139);
 border-radius: 10px;
}




  /*-----------Read--------------*/

  #read{
   position: relative;
    width: 100%;
    height: 82vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #read .table  {
   width: 80%;
   height: 80vh;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .getform {
    width: 100%;
    height: 81vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(4,9,30,0.8)),url('/assets/createpageimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 5px;
  }

 #read .table table,  #read .table  th,  #read .table  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    color: black;
}
/* Structure */

#tableref {
  height: 78vh;
  width: 100%;
  position: relative;
}

.content2 {   
  height: calc(80vh - 130px);
  width: 90%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tableref table {
  width: 100%;  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
@media (max-width: 768px) {
  .formContainer {
    width: 10vh;
    height: 30%;   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .formContainer form {
  align-items: center;
  justify-content: center;
  display: flex;
  } 

  #Analytics .leftan{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

#Analytics .leftan .card{
   width: 95%;
   height: 20vh;

}
#Analytics .rightan{
  display :none;
}

table td {
  padding-left:15px;
  padding-right: 15px;
}

#Analytics .leftan .card h1{
  font-size: 23px;
}

  #create mat-card{
    min-width: 100%;
  }
  .formContainer input {
    border: none;
    width: 30vh;
    height: 4vh;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }
  .btn , .btn2 {
    font-size: 10px;
    font-weight: 700;
    padding: 8px 35px;
    margin-bottom: 90px;
}
}